<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Person</title>
</head>
<body>
<h2>Page for delete persons</h2>
<form method="get" th:action="@{/deletePersonByValue}">

    <label style="margin: 5px">The title of the field to delete
        <select name="type">
            <option>name</option>
            <option>age</option>
            <option>gender</option>
        </select>
    </label>

    <label style="margin: 5px">Value
        <input type="text" name="value">
    </label>

    <button>ok</button>
</form>
</body>
</html>